<div class="card">
    <p-toolbar>
        <ng-template #start>
            <img src="/logo.png" alt="Logo" width="50px" height="50px">
            <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
            <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
            <p-button icon="pi pi-upload" text severity="secondary" />
        </ng-template>
        <ng-template #center>
            <p-iconfield iconPosition="left">
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Búsqueda" />
            </p-iconfield>
        </ng-template>
        <ng-template #end>
            <p-splitbutton icon="pi pi-shopping-cart" [model]="items" />
        </ng-template>
    </p-toolbar>
</div>